<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FileVerse | Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>


  
<div class="page">

  <!-- LEFT SIDE -->
  <div class="left">
    <div class="auth-box">

      <div class="brand">
        <h1 class="logo">FileVerse</h1>
        <p class="subtitle">Reset your password</p>
      </div>

      <p class="info-text">
        Enter your email and check your inbox for instructions.
        Please also check your spam folder.
      </p>

      <!-- FLASH MESSAGE -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <p class="success">{{ messages[0] }}</p>
        {% endif %}
      {% endwith %}

      <form method="POST" novalidate>

        <!-- EMAIL -->
        <div class="input-box">
          <input type="email" name="email" placeholder="Your email" required>
        </div>

        <button class="btn" type="submit">Send</button>

        <p class="switch">
          Already member?
          <a href="/">Log in</a>
        </p>

      </form>

    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right">
    <div class="desc-box center">
      <h2>Lost password?</h2>
      <p>No worries. Let’s get you a new one quickly!</p>
    </div>
  </div>

</div>

</body>
</html>
