<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FileVerse | Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<script>
function togglePassword() {
  const pwd = document.getElementById("password");
  pwd.type = pwd.type === "password" ? "text" : "password";
}
</script>


<body>

<div class="header">
  <span>FileVerse</span>

  <a href="{{ url_for('home') }}" class="home-btn">
    ⬅ Home
  </a>
</div>


<div class="page">

  <!-- LEFT -->
  <div class="left">
    <div class="auth-box center">

      <h2>Set New Password</h2>
      <p class="info-text">Choose a strong password for your account</p>

      <form method="POST">

  <div class="input-box password-box">
    <input
      type="password"
      name="password"
      id="password"
      placeholder="New password"
      required
    >
    <span onclick="togglePassword()">👁</span>
  </div>

  <button class="btn">Update Password</button>

</form>


    </div>
  </div>

  <!-- RIGHT -->
  <div class="right">
    <div class="desc-box center">
      <h2>Password Reset</h2>
      <p>Your new password will be securely updated.</p>
    </div>
  </div>


</div>

<div class="password-box">
  <input type="password" name="password" id="password" placeholder="New password" required>
  <span onclick="togglePassword()">👁</span>
</div>

</body>
</html>
